@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow,
  .text-shadow-md {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }
  .text-shadow-sm {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-lg {
    text-shadow: 0 0 10px rgba(0, 0, 0);
  }
  .rounded-full {
    border-radius: 9999px;
  }
  .fade-in-100 {
    animation: fadeIn 0.1s ease-in-out;
  }
  .fade-in-200 {
    animation: fadeIn 0.2s ease-in-out;
  }
  .fade-in-250 {
    animation: fadeIn 0.25s ease-in-out;
  }
  .fade-in-300 {
    animation: fadeIn 0.3s ease-in-out;
  }
  .fade-in-400 {
    animation: fadeIn 0.4s ease-in-out;
  }
  .fade-in,
  .fade-in-500 {
    animation: fadeIn 0.5s ease-in-out;
  }
  .fade-in-1000 {
    animation: fadeIn 1s ease-in-out;
  }
  .fade-out {
    animation: fadeOut 0.5s ease-in-out;
  }
  .background-pulse {
    background-size: 400% 400%;
    animation: animate-gradient 5s ease-in-out infinite;
  }
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Atari";
  src: url("/fonts/Atari.ttf");
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

html {
  overflow: hidden;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes card-flip {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(1440deg);
  }
  40% {
    transform: rotateX(180deg) rotateY(2880deg);
  }
  60% {
    transform: rotateX(180deg) rotateY(4320deg);
  }
  80% {
    transform: rotateX(360deg) rotateY(5760deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(7200deg);
  }
}

.stretch-right {
  transform-origin: left center;
  animation: stretchright 0.1s ease-in-out;
}

@keyframes stretchright {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

body {
  font-family: "Open Sans";
  /* background: linear-gradient(#4161b3, #087dbc, #34c1b3, #85449f); */
  background: linear-gradient(0deg, #083a8a, #2c6387, #514f7e);
  background-size: 100%;
  overflow: auto;
}

*::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
