@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans.ttf");
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

html {
  overflow: hidden;
}

.rounded-full {
  border-radius: 9999px;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes s {
  100% {
    transform: rotate(-360deg);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

body {
  font-family: "Open Sans";
  /* background: linear-gradient(#4161b3, #087dbc, #34c1b3, #85449f); */
  background: linear-gradient(0deg, #083a8a, #2c6387, #514f7e);
  background-size: 100%;
  overflow: auto;
}

*::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
