@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: "Open Sans";
  background: linear-gradient(0deg, #223e8b, #327199, #5b57ae);
  background-size: 100%;
  overflow: auto;
}

*::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes animateLandingBackground {
  0% {
    scale: 1;
  }
  50% {
    scale: 10;
  }
  100% {
    scale: 1;
  }
}
