.rdg-cell {
  outline: none;
  padding: 0;
  overflow: visible;
}
.rdg-time-background {
  z-index: 0 !important;
}
.rdg-cell:has(.rdg-time),
.rdg-time {
  z-index: 30 !important;
}
.rdg-corner,
.rdg-cell:has(.rdg-corner) {
  z-index: 80 !important;
}
.rdg-cell:has(.rdg-track) {
  z-index: 30 !important;
}
.rdg-clip {
  z-index: 20 !important;
}
.rdg-row {
  --rdg-row-height: auto !important;
}
.rdg-track,
.rdg-time,
.rdg-corner {
  z-index: 20 !important;
}
.rdg-track {
  animation: fadeIn 0.1s ease-in-out;
}
