.rdg-cell {
  outline: none;
  padding: 0;
  box-shadow: none;
  overflow: visible;
}
.rdg-cell:has(.rdg-time) {
  z-index: 30 !important;
}
.rdg-cell:has(.rdg-track) {
  z-index: 90 !important;
}
.rdg-row {
  --rdg-row-height: auto !important;
}
.rdg-track {
  animation: fadeIn 0.1s ease-in-out;
}
